.spinner {
  display: inline-block;
  position: relative;
}

.circle {
  display: block;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--color-primary);
  animation: spin 1s linear infinite;
}

.sm .circle {
  width: 16px;
  height: 16px;
}

.md .circle {
  width: 24px;
  height: 24px;
}

.lg .circle {
  width: 32px;
  height: 32px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}